.advantages {   
	background-color: #f2f2f2;
	position: relative;
	overflow: hidden;
	ul {
		padding: 0;
		margin: 0 auto;
		list-style: none;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 310px;
		padding-top: 50px;
		color: #283645;
		max-width: 320px;
	}
	&__title {
		color: #000;
	}
	&__phone {
		position: absolute;
		bottom: -30px;
		margin: 0 auto;
		left: 50%;
		margin-left: -75px;
		width: 160px;
		height: 300px;
		overflow: hidden;
	}
	
}
@media @mobile {
	
	.advantages {
		&__phone-tablet {
			display: none;
		}
		&__item {
			br {
				display: none;
			}
		}
	}
	.advantages__item-phone {
		display: none;
	}
}
@media @tablet {
	.advantages { 
		height: 480px;
		ul {

			padding: 0;
			margin: 0;
			margin-top: 50px;
			max-width: 310px;
			margin-left: 50vw;
		}
		&__item {
			text-align: left;
			font-size: 14px;
			line-height: 26px;
			padding-bottom: 15px;
			font-weight: 400;
			h3 {
				font-weight: bold;
				font-size: 20px;
				padding-bottom: 10px;
			}
		}
		&__item-phone {
			display: none;
		}
		&__phone {
			display: none;
			
		}
		&__phone-tablet {
			width: 270px;
			height: 550px;
			position: absolute;
   	 		bottom: -70px;
			left: 50%;
    		margin: 0 auto;
			overflow: hidden;
			margin-left: -310px;
		}
	}
}
@media @desktop {
	.advantages {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: -220px;
			left: -30px;
			width: 2000px;
			height: 300px;
			background-color: #fff;
			transform: rotate(-4deg);
		}
		ul {
			max-width: 940px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			padding: 0;
			margin: 0 auto;
			justify-content: space-around;
		}
		&__item {
			max-width: 190px;
			position: relative;
			z-index: 10;
			h3 {
				font-size: 26px;
				font-weight: bold;
				line-height: 30px;
				margin-bottom: 20px;
			}
		}
		&__item-phone {
			width: 186px;
			height: 300px;
			overflow: hidden;
			margin-bottom: 55px;
			
			img {
				width: 100%;
			}
			&::before {
				content: "";
				width: 300px;
				height: 17px;
				background-image: url(../img/iphone-shadow.png);
				position: absolute;
				background-size: 100% 100%;
				top: 290px;
				left: 50%;
				background-repeat: no-repeat;
				transform: translateX(-50%);
			}
		}
		&__phone {
			display: none;
		}
		&__phone-tablet {
			display: none;
		}
	}
}