.app-effect {
	position: relative;
	padding-top: 60px;
	padding-bottom: 100px;
	&__info {
		font-size: 14px;
		line-height: 24px;
		max-width: 310px;
		margin-left: 50vw;
		padding-top: 30px;
		a {
			color: @pink;
			text-decoration: underline;
		}
		h2 {
			font-size: 36px;
			line-height: 45px;
			padding-bottom: 10px;
		}
	}
	&__clock {
		position: absolute;
		left: 50%;
		width: 240px;
		height: 280px;
		margin: 0 auto;
		overflow: hidden;
		margin-left: -350px;
	}
}
@media @mobile {
	.app-effect {
		display: none;
	}
}
@media @tablet {
	
}