.contacts {  
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: #fff;
	z-index: 10;
	position: relative;
	.mail {
		a {
			&:hover {
				color: @darkblue;
				text-decoration: underline;
			}
			&:active {
				color: #ced0d2;
			}
		}
	}
	p {
		padding-top: 10px;
	}
	&__question {
		font-size: 24px;
		line-height: 30px;
	
	}
	span {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
	}
	a {
		text-decoration: none;
		font-size: 24px;
		line-height: 24px;
		color: #d22856;
	}
}

@media @tablet {
	.contacts {
		display: none;
	}
}
@media @desktop {
	.contacts {
		display: none;
	}
}