.emotion-description { 
	padding-right: 20px;
	padding-left: 20px;
	&__title {
		text-align: center;
		color: @pink;
		text-transform: uppercase;
		padding-top: 20px;
	}
	textarea {
		width: 100%;
		font-family: "Open Sans";
		border: 2px solid #eeeeee;
		height: 200px;
		color: @darkblue;
		padding: 10px;
		font-size: 18px;
		line-height: 30px;
	}
	textarea::placeholder {
		color: @darkblue;
		font-size: 18px;
		line-height: 30px;
		
	}
	
}
@media @tablet {
	.emotion-description {
		position: relative;
		border: 2px solid #e5e5e5;
		background-color: #fff;
		padding: 0;
		margin-left: 20px;
		margin-right: 20px;
		&__title {
			position: absolute;
			text-align: center;
			padding: 0;
			margin: 0 auto;
			top: -15px;
			left: 150px;
			right: 150px;
			background-color: #fff;
			max-width: 260px;
			font-size: 14px;
			line-height: 30px;
			color: @pink;
			text-transform: uppercase;
		}
		&__wrapper {
			padding-left: 60px;
			padding-right: 60px;
			padding-top: 45px;
			padding-bottom: 50px;
		}
	}
}