.information {  
	padding-left: 20px;
	padding-right: 20px;
	.input-wrapper {
		color: @pink;
		font-size: 14px;
		line-height: 30px;
		width: 100%;
		input::-webkit-input-placeholder {
			color: @darkblue;
			font-size: 18px;
			line-height: 30px;
			font-weight: 300;
		}
		span {
			padding-left: 10px;
			text-transform: uppercase;
		}
		input {
			border: 2px solid #eeeeee;
			padding: 15px 15px;
			font-size: 18px;
			line-height: 30px;
			width: 100%;
			height: 60px;
			margin-bottom: 10px;
		}
	}
}
@media @mobile {
	.information {
		
	}
}
@media @tablet {
	.information {
		margin: 0 auto;
	
		.input-wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			margin-bottom: 50px;
			input {
				
			}
			label {
				flex-shrink: 0;
				margin-right: 20px;
			}
		}
	}
}
@media @desktop {
	.information {
		width: 48%;
		.input-wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			margin-bottom: 50px;
			label {
				flex-shrink: 0;
				margin-right: 20px;
			}
			input {
				width: 340px;
			}
		}
		&__wrapper {
			
		}
	}
}