.main-nav { 
	&__top-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__toggle {
		background-color: transparent;
		font-size: 0;
		border: none;
		height: 24px;
		padding: 0;
		.icon-menu--burger {
			fill: #fff;
			&:hover {
				fill: #d22856;
			}
			&:active {
				fill: #d22856;
				opacity: 0.3;
			}
		}
	}
}
@media @tablet {
	.main-nav {
		&__top-menu {
			height: 110px;
			align-items: center;
		}
	}
}
@media @desktop {
	.main-nav {
		&__top-menu {
			height: 110px;
			align-items: center;
		}
		&__toggle {
			display: none;
		}
	}
}