.main-footer {   
	position: relative;
	&__logo {
		text-align: center;
	}
	&__map {
		overflow: hidden;
		position: relative;
		margin-top: -400px;
		z-index: -1;
		height: 620px;
		overflow: hidden;
		width: 100%;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.map-marker {
			position: absolute;
			bottom: 60px;
			left: 50%;
			margin-left: -10px;
			width: 36px;
			height: 35px;
		}
		&-tablet {
			width: 100%;
			height: 690px;
			z-index: -1;
			overflow: hidden;
			margin-top: -200px;
			position: relative;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__map-desktop {
		width: 100%;
		height: 940px;
		z-index: -1;
		overflow: hidden;
		margin-top: -200px;
		position: relative;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
	}
}
.footer-inner {
	padding-top: 40px;
}
@media @mobile {
	.main-footer {
		position: relative;
		overflow: hidden;
		.svg-triangle {
			display: block;
			position: absolute;
			top: 270px;
			width: 1920px;
			left: 50%;
			margin-left: -960px;
			height: auto;
			z-index: 1;
			.bg-triangle-white-footer {
				width: 100%;
			}
		}
		&__map-tablet {
			display: none;
		}
		&__map-desktop {
			display: none;
		}
	}
}
@media @tablet {
	.main-footer {
		overflow: hidden;
		position: relative;
		&__map {
			display: none;
		}
		&__map-desktop {
			display: none;
		} 
		.svg-triangle {
			display: block;
			position: absolute;
			top: 390px;
			width: 1920px;
			left: 50%;
			margin-left: -960px;
			height: auto;
			z-index: 1;
			.bg-triangle-white-footer {
				width: 100%;
			}
		}
	}
	.footer-inner {
		display: none;
	}
}
@media @desktop {
	.main-footer {
		position: relative;
		overflow: hidden;
		&__map {
			display: none;
		}
		&__map-tablet {
			display: none;
		}
		.svg-triangle {
				display: block;
				position: absolute;
				top: 397px;
				left: 0;
				width: 1920px;
				left: 50%;
				margin-left: -960px;
			
				height: auto;
				z-index: 20;
			.bg-triangle-white-footer {
				width: 100%;
			}
		}
	}
	.footer-inner {
		display: none;
	}
}