.mobile-app {
	background-color: #f2f2f2;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	&__title {
		text-align: center;
		color: @pink;
		padding-top: 30px;
		text-transform: uppercase;
	}
	label {
		font-size: 18px;
		line-height: 30px;
		padding-left: 60px;
		display: block;
		padding-top: 20px;
	}
}