.page-header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(29, 38, 49, 0.3);
}
.main-nav__top-menu {
	display: flex;
	justify-content: space-between;
	height: 65px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.page-header__logo {
	width: 75px;
	height: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.page-header__logo-image {
	width: 100%;
	height: auto;
}
.site-list {
	padding: 0;
	list-style: none;
	display: none;
	
	&__item {
	background-color: #283645;
	text-transform: uppercase;
	color: #fff;
	padding-top: 20px;
	height: 40px;
	text-align: center;
	max-width: 320px;
	vertical-align: middle;
	border-bottom: 1px solid #000000;

	a {
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	}
}
}
.header-intro {
//	position: relative;
}
.header-intro__top {
	&-part {
	background-image: url("../img/header-back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 465px;
	width: 100%;
	position: relative;
	}
	&-image {
	position: absolute;
	bottom: 0;
	width: 320px;
	height: 315px;
	}
}