.page-header { 
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.3);
	&__logo {
		width: 75px;
		height: 25px;
		padding-top: 20px;
		padding-bottom: 20px;
		&:hover {
			svg {
				fill: #d22856;
			}
		}	
		&:active {
			opacity: 0.3;
			svg {
				fill: #fff;
			}
		}
	}
	&__logo-tablet {
		&:hover {
			svg {
				fill: #d22856;
			}
		}
		&:active {
		opacity: 0.3;
			svg {
				fill: #fff;
			}
		}
	}	
	
	&__logo-image {
		width: 100%;
		height: auto;
	}
	&__logo-desktop {
		width: 147px;
		height: 40px;
		margin-left: 40px;
		&:hover {
			.logo-pink-white-desktop {
				fill: #d22856;
				transition: .2s;
			}
		}
		&:active {
		opacity: 0.3;
			svg {
				fill: #fff;
			}
		}
	}
	
	
}
@media @mobile {
	.page-header {
		&__logo-tablet {
			display: none;
		}
		&__logo-desktop {
			display: none;
		}
	}
}
@media @tablet {
	.page-header {
		&__logo {
			display: none;
		}
		&__logo-desktop {
			display: none;
		}
	}
}
@media @desktop {
	.page-header {
		&__logo {
			display: none;
		}
		&__logo-tablet {
			display: none;
		}
	}
}