
.photo-redactor {
	background-color: #f2f2f2;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
	&__filters {
		list-style: none;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 200px;
		margin-left: 40px;
		margin-top: 30px;
	}
	&__buttons {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 40px;
	}
	&__button {
			border: 3px solid @pink;
			border-radius: 30px;
			color: @pink;
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			width: 100%;
			height: 55px;
			display: block;
			padding-top: 15px;
		margin-bottom: 10px;
		}
	&__button-disabled {
			border: 3px solid rgba(40, 54, 69, 0.1);
			border-radius: 30px;
			color: rgba(40, 54, 69, 0.1);
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			width: 100%;
			height: 55px;
			display: block;
			padding-top: 15px;
		
	}
}
