.posts {  
	&__title {
		text-align: center;
		line-height: 30px;
		font-size: 14px;
		color: @darkblue;
		padding-top: 50px;
		padding-bottom: 30px;
		max-width: 250px;
		margin: 0 auto;
	}
	&__post {
		max-width: 280px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	&__post-info {
		background-color: #f2f2f2;
		padding: 15px 20px;
		.time {
			color: #b3b5b9;
			padding-left: 5px;
		}
		.like {
			color: @pink;
			text-transform: uppercase;
			img {
				width: 13px;
				height: 12px;
				margin-right: 15px;
			}
		}
	}
	&__post-photo {
		position: relative;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			backface-visibility: hidden;
			
		}
	}
	&__title-end {
		text-align: center;
		line-height: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__panorama {
		width: 100%;
		margin: 0 auto;
	}
}
@media @mobile {
	.like-tablet {
		display: none;
	}
	.like-tablet-panorama {
		display: none;
	}
	.posts {
		&__post-tablet {
			max-width: 280px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		&__post-photo {
			height: 180px;
		}
	}
}
@media @tablet {
	.posts {
		&__post {
			margin: 0;
			width: ~"calc(50% - 10px)";
			margin-bottom: 20px;
			max-width: none;
		}
		&__post-info {
			padding-left: 30px;
			min-height: ~"calc(100% - 300px)";
			display: flex;
			flex-direction: column;
		}
		&__post-flex {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__post-tablet {
			max-width: 620px;
			margin-bottom: 50px;
			margin: 0 auto;
			margin-bottom: 50px;
			
		}
		&__title {
			max-width: 440px;
			font-size: 18px;
			line-height: 30px;
			color: @darkblue;
			padding-bottom: 80px;
		}
		.like {
			display: none;
		}
		.like-tablet-panorama {
			color: @pink;
			text-transform: uppercase;
			margin-left: 280px;
			img {
				width: 13px;
				height: 12px;
				margin-left: 15px;
				margin-bottom: 5px;
			}
		}
		.like-tablet {
			color: @pink;
			text-transform: uppercase;
			margin-top: auto;
			img {
				width: 13px;
				height: 12px;
				margin-left: 90px;
				margin-bottom: 5px;
			}
		}
		&__title-end {
			font-size: 18px;
			line-height: 30px;
		}
		&__post-photo {
			height: 300px;
		}
	}
	.posts-wrapper {
		width: 620px;
		margin: 0 auto;
	}
}
@media @desktop {
	.posts {
		
		&__title {
			max-width: 580px;
			font-size: 18px;
			line-height: 30px;
		}
		&__post-tablet {
			max-width: 940px;
			margin: 0 auto;
			margin-bottom: 50px;
		}
		&__post-photo--mobile {
			display: none;
		}
		&__post-photo--tablet {
			display: none;
		}
		&__wrapper {
			width: 940px;
    		margin: 0 auto;
		}
		&__post {
			margin: 0;
			padding-bottom: 55px;
			max-width: 300px;
		}
		&__post-flex {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 940px;
			margin: 0 auto;
		}
		span.like-tablet-panorama {
			color: @pink;
			text-transform: uppercase;
			margin-left: 600px;
			img {
				width: 13px;
				height: 12px;
				margin-left: 15px;
				margin-bottom: 5px;
			}
		}
		&__post-info {
			min-height: ~"calc(100% - 400px)";
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			.like-tablet {
				color: @pink;
				text-transform: uppercase;
				margin-top: auto;
				img {
					width: 13px;
					height: 12px;
					margin-left: 90px;
					margin-bottom: 5px;
				}
			}
			.time {
				text-transform: uppercase;
			}
		}
		&__post-photo {
			height: 400px;
		}
	}
	.like {
		display: none;	
	}
}