.site-list {
	padding: 0;
	list-style: none;
	display: none;
	.active {
		a {
			color: #d22856;
		}
	}
	&__item {
		background-color: #283645;
		text-transform: uppercase;
		color: #fff;
		padding-top: 20px;
		height: 60px;
		text-align: center;
		width: 100%;
		vertical-align: middle;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #485461;
		font-weight: bold;
		
		a {
			color: #ffffff;
			text-decoration: none;
			vertical-align: middle;
			&:hover {
				color: #d22856;
			}
			&:active {
				color: #d22856;
				opacity: 0.3;
			}
		}
	}
	&-desktop {
		&__item {
			a:hover {
				text-decoration: none;
				color: #d22856;
				transition: .2s;
			}
			a:active {
				text-decoration: none;
				opacity: 0.3;
				color: #fff;
			}
		}
	}
	&--opened {
		display: block;
	}
}
@media @tablet {
	.site-list-desktop {
		display: none;
	}
}@media @mobile {
	.site-list-desktop {
		display: none;
	}
}
@media @desktop {
	.site-list {
		display: none;

	}
	.site-list-desktop {
		display: flex;
		justify-content: flex-start;
		width: 800px;
		height: 30px;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		padding-left: 100px;
		list-style: none;
		&__item {
			background-color: transparent;
			position: relative;
			font-size: 18px;
			line-height: 18px;
			text-transform: none;
			font-weight: 300;
			border: none;
			padding: 0;
			text-align: inherit;
			margin: 0;
			margin-right: 80px;
			a {
				color: #fff;
			}
			&.active::after {
				content: "";
				position: absolute;
				height: 2px;
				width: 100%;
				top: 30px;
				left: 0;
				background-color: #fff;
				transition: .2s;
			}	
			&:hover {
				color: #d22856;
				&.active::after {
					background-color: #d22856;		
				}
			}
		}
	}
}