.site-list {
	padding: 0;
	list-style: none;
	display: none;
	
	&__item {
		background-color: #283645;
		text-transform: uppercase;
		color: #fff;
		padding-top: 20px;
		height: 60px;
		text-align: center;
		width: 100%;
		vertical-align: middle;
		border-bottom: 1px solid #000000;
		border-top: 1px solid #485461;
		font-weight: bold;

		a {
			color: #ffffff;
			text-decoration: none;
			vertical-align: middle;
		}
	}
}