.slider {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 40px;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		
	}
	&__item-title {
		color: #000;
		font-size: 18px;
		line-height: 30px;
		font-weight: bold;
		
		
	}
	
}
@media @mobile {
	.reviews-toggle {
		display: none;
	}
}
@media @tablet {
	.slider {
		&__item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			max-width: 620px;
			margin: 0 auto;
			&-info {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 40px;
			}
			&-title {
				order: 2;
				margin: 0;
				margin-bottom: 10px;
				font-size: 22px;
				line-height: 30px;
				&--about {
					order: 3;
					color: @darkblue;
				}
			}
			
		}
	}
	.reviews-toggle {
		display: none;
	}
}
@media @desktop {
	.slider {
		position: relative;
		width: 940px;
		margin: 0 auto;
		padding-top: 190px;
		padding-bottom: 45px;
		background-image: url(../img/quotes.png);
		background-repeat: no-repeat;
		background-size: 79px 63px;
		background-position: 50% 70px;
		z-index: 10;
		&__item {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			max-width: 700px;
			margin: 0 auto;
			&-info {
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 40px;
			}
			&-title {
				order: 2;
				margin: 0;
				margin-bottom: 0;
				font-size: 20px;
				line-height: 30px;
				&--about {
					order: 3;
					color: @darkblue;
				}
			}
		}
		&__toggles {
				display: none;
		}
	}
	.reviews-toggle {
		display: block;
		position: absolute;
		background-color: transparent;
		border: none;
		width: 60px;
		height: 42px;
		top: 210px;
		cursor: pointer;
		.arrow {
			fill: #bec2c7;
			&:hover {
				fill: #7e868f;
			}
			&:active {
				fill: #e9ebec;
				outline: none;
			}
		}
	}
	.toggle-prev {
		left: 0;
	}
	.toggle-next {
		right: 0;
	}
}